body {
	padding: 20px 50px;
	background-color: black;
}
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}

.futuron {
  color: #18cae6;
  font-family: 'tr2ntr2n';
  font-size: 4em;
  margin-bottom: 20px;
  text-shadow: -2px 2px 20px #18cae6, 2px -2px 20px #18cae6;
}

.grid-and-legend > div:not(:first-child) {
  margin-left: 50px;
}

#grid {
  float: left;
  box-shadow: 0 0 30px 4px rgba(255, 255, 255, 0.5);
}

#legend {
  float: left;
}

#term {
  margin-top: 30px;
}

.grid-square {
  float: left;
  width: 8px;
  height: 8px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #333;
  box-sizing: border-box;
  transition: background-color 0.6s, box-shadow 2.4s;
}

.legend-bot {
  margin-bottom: 10px;
}

.legend-hue {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 10px;
} 

.legend-name {
  float: left;
  color: white;
  line-height: 15px;
  font-family: FreeMono, monospace;
  text-shadow: 0 0 15px white;
  margin-right: 10px;
} 
  
.legend-bot.dead .legend-name {
  color: #aaa;
  text-decoration: line-through;
  text-shadow: none;
} 
  
.legend-info {
  float: left;
  color: #888;
  font-family: FreeMono, monospace;
  line-height: 15px;
}

.terminal {
  color: #18cae6;
  text-shadow: -1px 1px 4px #18cae6, 1px -1px 4px #18cae6;
}

.terminal .cmd {
  color: #18cae6;
  margin-top: 14px;
}

.terminal .cmd span.inverted {
  color: #000;
  background-color: #18cae6;
}

.terminal .cmd .cursor.blink {
  -webkit-animation: blink2 1s infinite steps(1, start);
     -moz-animation: blink2 1s infinite steps(1, start);
      -ms-animation: blink2 1s infinite steps(1, start);
          animation: blink2 1s infinite steps(1, start);
}

@keyframes blink2 {
  0%, 100% {
    background-color: #000;
    color: #18cae6;
  }
  50% {
    background-color: #18cae6;
    color: #000;
  }
}
@-webkit-keyframes blink2 {
  0%, 100% {
    background-color: #000;
    color: #18cae6;
  }
  50% {
    background-color: #18cae6;
    color: #000;
  }
}
@-ms-keyframes blink2 {
  0%, 100% {
    background-color: #000;
    color: #18cae6;
  }
  50% {
    background-color: #18cae6;
    color: #000;
  }
}
@-moz-keyframes blink2 {
  0%, 100% {
    background-color: #000;
    color: #18cae6;
  }
  50% {
    background-color: #18cae6;
    color: #000;
  }
}